# For create-cloudflare-sfu-app.ts
#
# Currently not working (Cloudflare bug?)
# CLOUDFLARE_ACCOUNT_ID=
# Permissions:
#   - Calls Write
# CLOUDFLARE_CALLS_API_TOKEN=

# Cloudflare SFU app
CLOUDFLARE_SFU_APP_ID=
CLOUDFLARE_SFU_APP_API_TOKEN=
